In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
# features_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/csv_combined (1).csv')
# features_df

In [3]:
# nul_df = pd.DataFrame(features_df.isnull().sum().sort_values(ascending=False)/len(features_df))
# nul_df

In [4]:
# features_df.groupby(features_df['Country_x']).count()

In [5]:
conflicts_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/civil_war_dataset - Civil War (1).csv')
conflicts_df

                           country  start_date               Type         War
0               Dominican Republic        1965  Internationalised       Civil
1    Zimbabwe (Rhodesian Bush War)        1964           Internal       Civil
2                         Thailand        1965  Internationalised       Civil
3                         Cambodia        1967  Internationalised       Civil
4                          Nigeria        1967           Internal       Civil
..                             ...         ...                ...         ...
118                      Venezuela        1989           Internal  Revolution
119                Burma (Myanmar)        1988           Internal  Revolution
120                    South Korea        1987           Internal  Revolution
121                        Somalia        1986           Internal  Revolution
122                    Philippines        1986           Internal  Revolution

[123 rows x 4 columns]

In [6]:
conflicts_df.groupby(conflicts_df['country']).sum()

                               start_date
country
Afghanistan                          9970
Afghanistan                          2021
Albania                              1997
Algeria                              1991
Angolan                              1975
...                                   ...
Turkey                               2016
Uzbekistan                           2022
Venezuela                            4003
Yemen                                8006
Zimbabwe (Rhodesian Bush War)        1964

[78 rows x 1 columns]

In [7]:
# five_years = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/five_year_clean.csv')
# five_years

In [8]:
# five_years.groupby('Country_x').sum()

In [9]:
clean_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/clean.csv')
clean_df

,Unnamed: 0,Country,Code,Year,Arms imports million constant U.S. dollars,CountryYear,Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,...,Rural population percent of total population,Refugee population,Population growth percent,Life expectancy in years,Death rate per 1000 people,Deaths of children under five years of age per 1000 live births,Globalization index (0-100),Economic globalization index (0-100),Political globalization index (0-100),Social globalization index (0-100)
0,2212,Dominican Republic,DOM,1960.0,19.0,Dominican Republic1960,NaN,204.11,12.61,-3.6,...,69.81,NaN,NaN,51.60,16.11,148.0,NaN,NaN,NaN,NaN
1,2213,Dominican Republic,DOM,1961.0,11.0,Dominican Republic1961,-2.31,192.03,8.87,-3.9,...,68.89,NaN,3.35,52.31,15.51,146.0,NaN,NaN,NaN,NaN
2,2214,Dominican Republic,DOM,1962.0,0.0,Dominican Republic1962,17.05,234.05,11.90,9.2,...,67.93,NaN,3.31,53.00,14.91,145.0,NaN,NaN,NaN,NaN
3,2215,Dominican Republic,DOM,1963.0,7.0,Dominican Republic1963,6.50,258.60,16.02,8.6,...,66.95,NaN,3.27,53.67,14.33,143.0,NaN,NaN,NaN,NaN
4,2216,Dominican Republic,DOM,1964.0,5.0,Dominican Republic1964,6.76,272.97,18.32,2.1,...,65.95,NaN,3.22,54.34,13.76,141.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588,6269,Philippines,PHL,1981.0,39.0,Philippines1981,3.42,832.08,26.40,13.1,...,61.61,23310.0,2.74,63.87,7.49,79.0,42.28,37.14,57.22,32.47
589,6270,Philippines,PHL,1982.0,17.0,Philippines1982,3.70,843.72,26.69,10.2,...,60.66,15240.0,2.74,64.07,7.39,78.0,42.28,37.35,57.03,32.46
590,6271,Philippines,PHL,1983.0,117.0,Philippines1983,1.90,734.49,28.23,10.0,...,59.70,18890.0,2.73,64.26,7.29,76.0,43.04,38.88,57.89,32.34
591,6272,Philippines,PHL,1984.0,39.0,Philippines1984,-7.04,676.36,19.83,50.3,...,58.73,18270.0,2.72,64.45,7.19,75.0,43.20,37.95,58.91,32.75
592,6273,Philippines,PHL,1985.0,23.0,Philippines1985,-6.86,644.15,14.17,23.1,...,57.76,16990.0,2.71,64.65,7.08,73.0,45.26,41.81,59.76,34.20

In [10]:
# clean_df.groupby('Country').count()

In [11]:
# GDP = clean_df[clean_df['GDP per capita current U.S. dollars']].groupby('Year').mean()
# Country = clean_df[clean_df['poverty']].groupby('Year').mean()
# plt.plot(GDP)
# plt.plot(Country)
# plt.xlabel("GDP")
# plt.ylabel("Investment")

In [12]:
Country

NameError: name 'Country' is not defined

In [ ]:
# clean_df.head(50)

In [ ]:
frames = [conflicts_df, clean_df]
result = pd.concat(frames)
result

In [ ]:
# result.groupby('country').count()

In [ ]:
def select_country(string):
    country_data = clean_df[clean_df['Country']==string]
    country_name = f'country_{string}'
    country_name =  country_data
    return country_data

In [ ]:
select_country('Lebanon')

In [ ]:
# sns.catplot(x = select_country('Lebanon'), y ='GDP per capita current U.S. dollars', data = clean_df)

In [ ]:
gdp_df = select_country('Dominican Republic')
gdp_df[['GDP per capita current U.S. dollars']].pct_change()

In [ ]:
def pc_change(Country):
    pct_change = f' select_country('Country')'
    gdp_df[['GDP per capita current U.S. dollars']].pct_change()
    
# select_.groupby(['GDP per capita current U.S. dollars','Country']).mean()
# gdp_pct = gdp_df.pct_change(periods= -1)
# gdp_pct

In [40]:
full_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/full_dataset.csv')
full_df

,Unnamed: 0,Military spending percent of total government spending,Arms imports million constant U.S. dollars,Human Development Index (0 - 1),Economic growth: the rate of change of real GDP,GDP per capita current U.S. dollars,GDP per capita Purchasing Power Parity,Capital investment as percent of GDP,Inflation: percent change in the Consumer Price Index,Unemployment rate,...,Factionalized elites index 0 (low) - 10 (high),Group grievance index 0 (low) - 10 (high),Economic decline index 0 (low) - 10 (high),Uneven economic development index 0 (low) - 10 (high),State legitimacy index 0 (high) - 10 (low),Human rights and rule of law index 0 (high) - 10 (low),Demographic pressures 0 (low) - 10 (high),Refugees and displaced persons index 0 (low) - 10 (high),External interventions index 0 (low) - 10 (high),target
0,0,4.292091,209.322106,0.790600,-2.625,40601.665,51634.628689,35.810000,84.564378,9.634465,...,4.552520,4.725486,3.562728,4.191069,2.974549,1.353090,5.025372,3.488201,3.154603,0
1,1,6.030000,69.500000,0.853000,1.680,8598.414,4032.150000,22.532515,2284.975000,4.150000,...,11.042710,6.053335,6.854513,6.672058,-10.885526,1.448891,19.597985,4.853890,5.455294,0
2,2,8.609929,363.800000,0.647129,2.118,2154.510,9188.155848,28.954000,108.821431,8.782994,...,7.884200,6.126349,6.188445,6.106055,7.659240,6.542294,8.028683,4.600025,5.923024,0
3,3,5.760000,93.000000,0.723600,5.654,6883.974,16839.540000,17.900000,166.338771,10.492000,...,7.562185,6.034932,5.873138,5.889429,5.930206,5.612593,8.378061,4.560561,5.797720,0
4,4,12.438000,3.000000,0.626400,7.120,541.122,3429.844000,28.754000,3.200000,9.976000,...,7.478919,6.275339,6.635955,6.568458,9.459550,8.990200,7.660674,4.736830,5.697834,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,106,5.447500,44.500000,0.762750,2.226,6700.366,12416.858000,20.810000,2.620000,4.514000,...,7.100000,8.000000,3.680000,6.840000,7.000000,3.780000,6.200000,4.060000,2.900000,1
217,107,6.227500,12.750000,0.758000,0.024,6058.920,11097.980000,24.668000,0.060000,4.744000,...,8.200000,6.700000,5.880000,6.380000,6.020000,4.360000,6.100000,5.620000,5.700000,1
218,108,9.122637,76.666667,0.711750,4.954,1806.112,7270.168000,37.868000,-97.933434,6.338000,...,8.800000,6.580000,5.820000,6.280000,9.440000,8.200000,5.140000,4.980000,4.220000,1
219,109,10.237500,68.000000,0.779500,1.844,3898.644,12784.654000,28.120000,5.300000,4.798000,...,8.980000,8.880000,5.440000,6.500000,6.660000,8.280000,6.060000,7.800000,6.060000,1
220,110,4.477500,276.000000,0.818000,2.840,9607.188,25630.774000,26.940000,6.325000,4.868000,...,7.600000,7.960000,5.740000,3.640000,8.380000,6.820000,4.060000,2.500000,3.600000,1

In [ ]:
corr_df = full_df.corr().abs()

In [ ]:
import numpy as np
upper_tri = corr_df.where(np.triu(np.ones(corr_df.shape),k=1).astype(np.bool))
to_drop = [column for column in upper_tri.columns if any(upper_tri[column] > 0.95)]
new_df = corr_df.drop(columns=to_drop, axis= 1)

In [ ]:
new_df

In [ ]:
import numpy as np

shape = (64, 64)

data = np.random.normal(size=shape)

data[:,] += data[:,]

df = pd.DataFrame(corr_df)

c = df.corr().abs()

s = c.unstack()
so = s.sort_values(kind="quicksort")

so

In [ ]:
corr_df.style.background_gradient(cmap = 'YlOrRd')

In [ ]:
last_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/conflict_data_1970 (1).csv')
last_df

In [ ]:
pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/csvData.csv')

In [17]:
poverty_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/pip_dataset.csv')
poverty_df

,country,year,reporting_level,welfare_type,ppp_version,survey_year,survey_comparability,headcount_ratio_international_povline,headcount_ratio_lower_mid_income_povline,headcount_ratio_upper_mid_income_povline,...,decile8_thr,decile9_thr,gini,mld,polarization,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
0,Albania,1996,national,consumption,2011,1996.0,0.0,0.920669,11.174149,44.618417,...,8.85,10.92,0.270103,0.119104,0.241293,0.928335,3.945872,3.568627,1.889273,1.888889
1,Albania,2002,national,consumption,2011,2002.0,1.0,1.570843,14.132118,49.669635,...,8.83,11.58,0.317390,0.164812,0.268982,1.215056,4.831625,3.979381,2.090253,1.903780
2,Albania,2005,national,consumption,2011,2005.0,1.0,0.860527,8.715685,38.545254,...,10.02,12.78,0.305957,0.154413,0.254529,1.142718,4.662236,3.872727,1.978328,1.957576
3,Albania,2008,national,consumption,2011,2008.0,1.0,0.313650,5.250542,31.110345,...,10.74,13.62,0.299847,0.148893,0.247311,1.114657,4.395911,3.574803,1.956897,1.826772
4,Albania,2012,national,consumption,2011,2012.0,1.0,0.849754,6.182414,34.528906,...,10.52,13.26,0.289605,0.138417,0.249988,1.041193,4.272573,3.632877,1.941435,1.871233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4872,Zambia,2010,national,consumption,2017,2010.0,4.0,68.456606,82.885088,93.044964,...,3.27,5.34,0.556215,0.539135,0.536149,4.278696,16.024650,10.470588,3.955556,2.647059
4873,Zambia,2015,national,consumption,2017,2015.0,4.0,61.352160,77.548045,90.747141,...,4.02,6.43,0.571361,0.604667,0.613181,4.995829,21.243915,13.978261,4.095541,3.413043
4874,Zimbabwe,2011,national,consumption,2017,2011.0,0.0,21.580063,47.857143,77.945113,...,7.25,10.54,0.431536,0.311153,0.388356,2.207938,8.526847,6.713376,2.773684,2.420382
4875,Zimbabwe,2017,national,consumption,2017,2017.0,0.0,34.206046,61.583570,84.109019,...,5.96,8.81,0.443371,0.322848,0.416694,2.307359,8.569542,6.574627,3.069686,2.141791
4876,Zimbabwe,2019,national,consumption,2017,2019.0,0.0,39.754533,64.509857,85.016315,...,5.76,9.01,0.502565,0.427862,0.463899,NaN,NaN,8.190909,3.400000,2.409091

In [44]:
poverty_df_clean = poverty_df[['country','year','headcount_ratio_international_povline','gini']]
pverty_df_clean = poverty_df_clean.sort_values('year')

In [ ]:
gap

In [45]:
poverty_df_clean.to_csv('poverty_df.csv')

In [57]:
poverty_df_clean.head(50)
# poverty_df_clean.drop(poverty_df_clean['country'] = 'albania'.index , inplace = True)
poverty_df_clean = poverty_df_clean[poverty_df_clean.country != 'Albania']
poverty_df_clean.head(-50)

      country  year  headcount_ratio_international_povline      gini
14    Algeria  1988                               6.250913  0.401949
15    Algeria  1995                               5.624111  0.353301
16    Algeria  2011                               0.449365  0.276157
17     Angola  2000                              36.374478  0.519569
18     Angola  2008                              34.446857  0.427155
...       ...   ...                                    ...       ...
4822  Vietnam  1997                              24.389482  0.354422
4823  Vietnam  2002                              29.939254  0.370296
4824  Vietnam  2004                              20.142012  0.367858
4825  Vietnam  2006                              14.901668  0.357886
4826  Vietnam  2008                              11.139827  0.355703

[4799 rows x 4 columns]

In [70]:
poverty_df_clean.groupby('country').head(50).count()

country                                  4355
year                                     4355
headcount_ratio_international_povline    4355
gini                                     3945
dtype: int64

14      False
15      False
16      False
17      False
18      False
        ...
4872    False
4873    False
4874    False
4875    False
4876    False
Name: country, Length: 4849, dtype: bool

In [39]:
# pov_df = pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/full_dataset.csv')

In [65]:
!pip install flaml

Collecting flaml
  Downloading FLAML-1.0.14-py3-none-any.whl (208 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 208.6/208.6 kB 3.7 MB/s eta 0:00:0000:01
Collecting lightgbm>=2.3.1
  Downloading lightgbm-3.3.3-py3-none-macosx_10_15_x86_64.macosx_11_6_x86_64.macosx_12_0_x86_64.whl (1.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 11.2 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: scikit-learn>=0.24 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from flaml) (1.1.2)
Requirement already satisfied: xgboost>=0.90 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from flaml) (1.6.2)
Requirement already satisfied: pandas>=1.1.4 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from flaml) (1.4.4)
Requirement already satisfied: scipy>=1.4.1 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from flaml) (1.9.1)
Requirement already satisfied: NumPy>=1.17.0rc1 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from flaml) (1.23.3)
Requirement already satisfied: wheel in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from lightgbm>=2.3.1->flaml) (0.37.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas>=1.1.4->flaml) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from pandas>=1.1.4->flaml) (2022.4)
Requirement already satisfied: joblib>=1.0.0 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn>=0.24->flaml) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from scikit-learn>=0.24->flaml) (3.1.0)
Requirement already satisfied: six>=1.5 in /Users/mariazoghzoghi/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=1.1.4->flaml) (1.16.0)
Installing collected packages: lightgbm, flaml
Successfully installed flaml-1.0.14 lightgbm-3.3.3

In [67]:
# from flaml import AutoML

In [71]:
pd.read_csv('/Users/mariazoghzoghi/code/yasmeeenm/conflict_data_1970 (1).csv')

,Unnamed: 0,Country,Year,Year -1,Year -2,Year -3,Year -4,Year -5
0,NaN,Lebanon,1975,1974,1973,1972,1971,1970
1,NaN,Mozambique,1975,1974,1973,1972,1971,1970
2,NaN,Angola,1975,1974,1973,1972,1971,1970
3,NaN,Indonesia,1976,1975,1974,1973,1972,1971
4,NaN,Afghanistan,1978,1977,1976,1975,1974,1973
...,...,...,...,...,...,...,...,...
107,NaN,Ecuador,2022,2021,2020,2019,2018,2017
108,NaN,Uzbekistan,2022,2021,2020,2019,2018,2017
109,NaN,Sri Lanka,2022,2021,2020,2019,2018,2017
110,NaN,Kazakhstan,2022,2021,2020,2019,2018,2017
111,NaN,Country,Year,Year -1,Year -2,Year -3,Year -4,Year -5